#header{
    background: rgb(16, 71, 19);
    color: #aaa;
    height: 50px;
    width: 500px;
    margin: auto;
}

.property{
    background: rgb(145, 216, 149);
    height: 500px;
    width: 500px;
    display: inline-grid;
}

.buildings{
    background: rgb(128, 121, 218);
    height: 100px;
    width: 400px;
}